
* {
  padding: 0;
  margin: 0;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #fff;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 rgb(133, 5, 5);
  font-size: 7rem;
  color: #fff;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}

footer {
  margin-top: 5%;
  color: #4ECCA3;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

@media (max-width: 1028px) {

  

  img {
    display: inline;
    width: 20%;
  }

  .container {
    width: 100%;
    padding: 5% 0 2%;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline;
  
  }
  
  h1 {
    font-size: 3rem;
    
  }
  
  p {
    font-size: 1rem;

  }
  
}